<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=643231655816289";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <!--wrapper-->
  <div id="wrapper">
    <!--メイン-->
    <div id="main">
      <div id="breadcrumb">
        <ol>
          <li><a href="index.html">HOME</a></li>
          <li>アクセス</li>
        </ol>
      </div>
      <article>
        <h1>アクセス</h1>
        <section>
          <h2>Bloomへのアクセス</h2>
          <section>
            <h3>住所</h3>
            <p>〒000-0000<br>
            ○○県○○市○○町1-2-3 フラワーアレンジメント教室ブルーム </p>
          </section>
          <section>
            <h3>地図</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.299426535222!2d139.75812346553133!3d35.69424858686488!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c104b9196e1%3A0x3c4200a784a9cd13!2z44CSMTAxLTAwNTEg5p2x5Lqs6YO95Y2D5Luj55Sw5Yy656We55Sw56We5L-d55S677yR5LiB55uu77yR77yQ77yVIOelnuS_neeUuuS4ieS6leODk-ODq-ODh-OCo-ODs-OCsA!5e0!3m2!1sja!2sjp!4v1456301503312" width="730" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
          </section>
        </section>
      </article>
      <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
    <!--/メイン-->