  <!--wrapper-->
  <div id="wrapper">
    <!--メイン-->
    <div id="main">
      <div id="breadcrumb">
        <ol>
          <li><a href="index.html">HOME</a></li>
          <li>講座案内</li>
        </ol>
      </div>
      <article>        
        <h1>h1講座案内</h1>
        <p class="lead">リード文が入ります。リード文が入ります。リード文が入ります。</p>
        <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
        <section>
          <h2>h2見出しが入ります。</h2>
          <section>
            <h3>h3見出しが入ります。</h3>
          </section>
        </section>          
      </article>
    </div>
    <!--/メイン-->