<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=643231655816289";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <!--wrapper-->
  <div id="wrapper">
    <!--メイン-->
    <div id="main">
      <div id="breadcrumb">
        <ol>
          <li><a href="index.html">HOME</a></li>
          <li>お問い合わせ</li>
        </ol>
      </div>
      <article>        
        <h1>お問い合わせ</h1>
        <p class="lead">お気軽にお問い合わせください</p>
        <p>下記メールフォームをご記入いただき、「送信する」ボタンを押してください。</p>
        <p>「<span class="must">※</span>」は必須項目です。</p>
        <section>
          <h2>お問い合わせフォーム</h2>
          <form id="entry">
            <dl>
              <dt>お名前 <span class="must">※</span></dt>
              <dd><input type="text" name="name" id="name" required></dd>
              <dt>メールアドレス <span class="must">※</span></dt>
              <dd><input type="email" name="email" id="email" required></dd>
              <dt>興味のある講座</dt>
              <dd>
                <select name="interest" id="interest">
                <option value="1day体験教室">1day体験教室</option>
                <option value="ブライダル・アートフラワー教室">ブライダル・アートフラワー教室</option>
                <option value="資格取得講座">資格取得講座</option>
                </select>
              </dd>
              <dt>お問い合せ種別</dt>
              <dd>
                <label><input type="checkbox" name="category" id="category1" value="講座申し込み">講座申し込み</label>
                <label><input type="checkbox" name="category" id="category2" value="資料請求">資料請求</label>
                <label><input type="checkbox" name="category" id="category3" value="その他問い合わせ">その他問い合わせ</label>
              </dd>
              <dt>Bloomを知ったきっかけ</dt>
              <dd>
                <label><input type="radio" name="questionnaire" id="questionnaire1" value="口コミ">口コミ</label>
                <label><input type="radio" name="questionnaire" id="questionnaire2" value="検索エンジンから">検索エンジンから</label>
                <label><input type="radio" name="questionnaire" id="questionnaire3" value="その他">その他</label>
              </dd>
              <dt>お問い合せ内容</dt>
              <dd>
                <textarea name="detail" id="detail"></textarea>
              </dd>
            </dl>
            <p id="submit_button_cover">
              <input type="submit" id="submit_button" value="送信する">
            </p>
          </form>
        </section>
      </article>
      <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
    <!--/メイン-->