<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=643231655816289";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <!--wrapper-->
  <div id="wrapper">
    <!--メイン-->
    <div id="main">
      <div id="breadcrumb">
        <ol>
          <li><a href="index.html">HOME</a></li>
          <li>講座案内</li>
        </ol>
      </div>
      <article id="course">        
        <h1>講座案内</h1>
        <p class="lead">用途に合わせたコースをご用意しております。</p>
        <p>初心者の方を対象にした1日体験や、ブライダル・プレゼントなど用途に合わせたコースをご用意しています。</p>
        <section>
          <h2>各講座のご案内</h2>
          <section>
            <h3>1Day体験教室</h3>
            <p>参加を検討している方、教室の雰囲気を知りたい方、お試しでアレンジメントをしてみたい方にオススメの1日体験教室です。季節の花を使いお好みのアレンジメントをお楽しみいただけます。</p>
            <table>
              <tr>
                <th>定員</th>
                <td>10名</td>
              </tr>
              <tr>
                <th>価格</th>
                <td>ひとり2000円/ペア参加でひとり1500円</td>
              </tr>
              <tr>
                <th>持ち物</th>
                <td>道具はすべて用意します。</td>
              </tr>
            </table>
          </section>
          <section>
            <h3>ブライダル・アートフラワーコース</h3>
            <p>本格的にフラワーアレンジメントを学びたい方、結婚などイベントを間近に控え、自分でフラワーアレンジメントをしてみたい方などを対象にした本格的にアレンジメントが学べるコースです。</p>
            <table>
              <tr>
                <th>日時</th>
                <td>月・水・金・土・日</td>
              </tr>
              <tr>
                <th>価格</th>
                <td>入会金5,000円　月（4回）8,000円</td>
              </tr>
              <tr>
                <th>持ち物</th>
                <td>用意した教材に追加を希望する方は別途費用となります。</td>
              </tr>
            </table>
          </section>
          <section>
            <h3>資格取得講座</h3>
            <p>公益社団法人日本フラワーデザイナー協会「フラワーデザイナー資格検定試験」1級〜3級の資格取得を目的としたコースです。その他の資格に関しても個別に対応しますのでご相談ください。</p>
            <table>
              <tr>
                <th>日時</th>
                <td>金・土・日</td>
              </tr>
              <tr>
                <th>価格</th>
                <td>月（4回）8,000円</td>
              </tr>
              <tr>
                <th>持ち物</th>
                <td>用意した教材に追加を希望する方は別途費用となります。</td>
              </tr>
            </table>
          </section>
        </section>
      </article>
      <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
    <!--/メイン-->