<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=643231655816289";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <!--wrapper-->
  <div id="wrapper">
  	<!--メイン-->
    <div id="main">
      <div id="breadcrumb">
        <ol>
          <li><a href="index.html">HOME</a></li>
          <li>ギャラリー</li>
        </ol>
      </div>
      <article>
        <h1>ギャラリー</h1>
        <p class="lead">実際に通われる生徒さんの作品をご紹介します。</p>
        <p>自宅を華やかに飾りたい、ブライダルブーケを作りたい、資格を取得したいなど、みなさん様々な目的で通われます。そんな生徒さんの作品を一部ご紹介します。</p>
        <section id="gallery">
          <h2>生徒さん作品</h2>
          <ul>
            <li><img src="images/item01.jpg" alt=""><br>
              見本作品 Aさん</li>
            <li><img src="images/item02.jpg" alt=""><br>
              見本作品 Bさん</li>
            <li><img src="images/item03.jpg" alt=""><br>
              見本作品 Cさん</li>
            <li><img src="images/item04.jpg" alt=""><br>
              見本作品 Dさん</li>
            <li><img src="images/item05.jpg" alt=""><br>
              見本作品 Eさん</li>
            <li><img src="images/item06.jpg" alt=""><br>
              見本作品 Fさん</li>
            <li><img src="images/item07.jpg" alt=""><br>
              見本作品 Gさん</li>
            <li><img src="images/item08.jpg" alt=""><br>
              見本作品 Hさん</li>
            <li><img src="images/item09.jpg" alt=""><br>
              見本作品 Iさん</li>
          </ul>
        </section>
      </article>
      <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
    <!--/メイン-->