<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=643231655816289";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <!--メインビジュアル画像-->
  <div id="main_visual">
    <p><img src="images/main_visual.jpg" alt="あなただけのアレンジメントに出会えるフラワーアレンジメント教室"></p>
  </div>
  <!--/メインビジュアル画像-->

  <div id="wrapper">
    <!--メイン-->
    <div id="main">
      <section id="point">
        <h2>ブルームのこだわり</h2>
        <section>
          <h3>一人ひとりの個性に向き合う、のびのびとしたアレンジメント</h3>
          <figure>
            <img src="images/photo01.jpg" alt="こだわり1">
            <figcaption>作品を作る生徒さんの様子</figcaption>
          </figure>
          <p>生徒さんの数だけ、アレンジメントがあります。<br>
            一人ひとりに向き合った、その人らしいアレンジメントを考えながら楽しく学べます。<br>
            全くの初心者の方も安心してご参加ください。</p>
        </section>
        <section>
          <h3>季節の花や旬の技術を楽しく学べます</h3>
          <figure>
            <img src="images/photo02.jpg" alt="こだわり2">
            <figcaption>完成間近の作品</figcaption>
          </figure>
          <p>季節の美しい花々を使い、初めての方でも美しくアレンジメントする技術が身につきます。<br>
            また、旬の話題は積極的に取り入れ、楽しく、自由に楽します。 </p>
        </section>
      </section>
      <section id="news">
        <h2>お知らせ</h2>
        <dl>
          <dt>2016/03/21</dt>
          <dd><a href="course.html">講座案内を更新しました</a></dd>
          <dt>2016/02/11</dt>
          <dd><a href="gallery.html">ギャラリーに写真を追加しました</a></dd>
          <dt>2016/03/21</dt>
          <dd><a href="course.html">講座案内を更新しました</a></dd>
        </dl>
      </section>
      <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
    <!--/メイン-->