<aside id="sidebar">
    <section id="side_banner">
        <h2>関連リンク</h2>
        <ul>
            <li><a href="#" target="_blank"><img src="images/banner01.jpg" alt="ブルームブログ"></a></li>
            <li><a href="https://www.facebook.com/" target="_blank"><img src="images/banner02.jpg" alt="イイネ！押してね！facebookページ"></a></li>
        </ul>
    </section>
    <section id="side_contact">
        <h2>ご予約・お問い合わせ</h2>
        <address><i class="fa fa-phone"></i>052-232-8229</address>
        <p>受付時間 9:00〜18:00</p>
        <p><a href="contact.html" class="contact_button">お問い合わせフォーム</a></p>
    </section>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://bloom.ne.jp" data-text="あなただけのフラワーアレンジメント教室Bloom">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</aside>